<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Cyclokitty's Magnificent Time Stamp Microservice
      </h1>
      <p>The github link for this repo is located <a href='https://github.com/Cyclokitty/timestampApp' target='_blank'>HERE</a></p>
    </header>

    <p>
      Copy the url below and paste into the address bar above:
    </p>
    <h4>https://sable-idea.gomix.me/July 1, 2017</h4>

    <div class='cat'></div>

    <p>If you enjoyed this webpage, click <a href='https://cyclokitty.github.io' target='_blank'>THIS</a> for more of my front end web development projects.</p>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
